*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:  Helvetica, sans-serif;
    background: #F0F2F5;
}
.logo{
    width: 400px;
    height: 100px;
    align-items: center;
}
.main-wrapper{
    width: 400px;
    height:680px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.slogan{
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
}
.box-wrapper{
    background: white;
    width: 400px;
    padding: 15px;
    margin: 20px 0;
    border-radius: 6px;
    box-shadow: 0 3px 5px 2px rgba(150, 150, 150, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
}
input::placeholder{
    font-size: 1.0rem;
}
input:focus{
    outline: 1px solid  #0866FF;
}
input:focus::placeholder{
    color: #c2c2c2;
}
.log-in{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #1877F2;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    font-size: larger;
    font-weight: 600;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.log-in:hover{
    background-color: #1360c4;
    cursor: pointer;
}
a {
    text-decoration: none;
    color:#1877F2
}
a:hover{
    text-decoration: underline;
}

hr{
    margin: 15px 0px;
}
.acct{
    width: 100%;
    padding: 15px;
    background-color: #42b72a;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    font-size: larger;
    font-weight: 600;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.acct:hover{
    background-color: #369423;
    cursor: pointer;
}
.create{
    color: black;
    font-weight: 550;
}
footer{
    margin-top: 145px;
    max-height: 100%;
    background-color: white;
    padding: 25px 35px;
}
ul {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  
  li {
    margin-right: 15px;
  }
footer-link{
    color: #7e7e7e;
}
